@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&display=swap');
*
{
    margin: 0px; padding: 0px;
}

body
{
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: #0065FF;
    margin: auto;
    display: flexbox;

}

.logo
{
    margin-top: 50px;
    font-size: 36px;
    font-weight:800;
    
}

img
{
    margin-left:75px; margin-top:69px;
    height: 240px; width: auto;
    margin-bottom: 70px;
}

label
{
    font-weight: 400; font-size: 16px;
    margin-bottom: 8px; 

    margin-left: -400px;
}

.label_pass
{
    margin-top: 21px;
    margin-left: 30px;
}


input
{
    margin-top: 8px;
    outline: none;
    background-color: rgba(1, 42, 85, 0.15);
    width: 414px;
    height: 52px;
    border: 1px solid rgba(1, 42, 85, 0.37);
    border-radius: 12px;    
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color :#0065FF;
    padding: 0px 16px;
}

input::placeholder
{
    font-weight: 400;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color : #033f9888;
}

input:focus 
{ 
border: 1px solid #0065FF;
}

button
{
    margin-top: 48px;
    height: 64px; width: 446px; border-radius: 12px; border:none; background-color: #0065FF; color:#EDFFE3 ;
    font-size: 20px; font-weight: 600;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 30px;
    
}
